* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color:#292E40;
  font-size: 24px;
  background: url(/photos/back5.jpg);
  background-repeat: repeat;
  animation: animated-bg 60s linear infinite;
}
@keyframes animated-bg {
  from { background-position: 0 0; }
  to { background-position: 0 1000px; }
}
a {
  color: inherit;
  text-decoration: none;
}
