.main {
  text-align: center;
}
.head {
  line-height: 200px;
  font-size: 50px;
  height: 175px;
  color: #ffff;
  text-shadow: 1px 1px 1px #292E40;
}

.main_container {
  margin: 20px;
  background-color: #BED9DE;
  padding: 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

.button {
  position: relative;
  background-color: #292E40; /*#556b78*/
  border-radius: 40px;
  border-color: #ffff;
  padding: 17px 38px 16px 34px;
  text-transform: uppercase;
  color: #ffff;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
  margin: 10px;
  transition: opacity 0.3s linear;
}

.button:hover {
  opacity: 0.8;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 15px;
}
.super_text {
  font-size: 50px;
  color: #FFC107;
  text-shadow: 1px 1px 1px #292E40;
}

.icons {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  background-color: #ffffffa9;
  padding: 30px;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 15px auto;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
@media only screen and (max-width: 900px) {
  .head {
    line-height: 200px;
    font-size: 40px;
    height: 175px;
    color: #ffff;
    text-shadow: 1px 1px 1px #292E40;
  }
  .line {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 15px;
  }
  .button {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (max-width: 600px) {
  .line {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 15px;
  }
  .button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}