.main {
  text-align: center;
}
.head {
  line-height: 200px;
  font-size: 50px;
  height: 200px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #292E40;
}
.parent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.main_container {
  margin: 20px;
  background-color: #BED9DE;
  padding: 40px;
}
.text {
  /* color: #161c20; */
  margin-top: 40px;
}
.icons {
  margin-top: 20px;
}
